* {
	margin: 0;
	padding: 0;
}
/*
header {
	background-color: white;
	width: 100%;
	position: fixed;
}
*/

.container {
	position: relative;
	border: 6px solid black;
}

.container h1, h2, h3 {
	position: absolute;
	color: white;
}

.container h1 {
	padding: 20px;
	margin-left: 100px;
	font-family: Asap, sans-serif;
	font-size: 40px;
	text-align: center;
	text-shadow: 8px 6px black;
}

.container h2 {
	padding: 20px;
	margin-top: 45px;
	margin-left: 185px;
	font-family: Asap, sans-serif;
	font-size: 20px;
	text-align: center;
}

.container h3 {
	padding: 5px;
	margin-top: 85px;
	margin-left: 225px;
	font-family: Asap, sans-serif;
	font-size: 17px;
	text-align: center;
}


body {
	background-image: url(../img/bgWood.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center 100%;
}

#cookie-bg {
	position: fixed;
	width: 500px;
	height: 100%;
	border: 10px solid black;
}

.cookie {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
}

.cookie img {
	position: absolute;
	max-width: 15%;
	margin-top: 300px;
	margin-left: 115px;
}

.cookie img:hover {
	cursor: pointer;
}

.cookie-clicked {
	text-anchor: center;
	width: 270px;
	transition: 70ms ease-in-out;
}

#cookie-sprite {
	transform: rotate(0);  
	transform: scale(1);
	transition: 250ms ease-in-out;
}

.control-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#grandma-counter {
	font-family: Asap, sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: white;
}