* {
	margin: 0;
	padding: 0;
}
/*
header {
	background-color: white;
	width: 100%;
	position: fixed;
}
*/
.cookie-interface h1, h2, h3 {
	position: absolute;
	color: white;
}

.cookie-interface h1 {
	padding: 20px;
	margin-left: 100px;
	font-family: Asap, sans-serif;
	font-size: 40px;
	text-align: center;
}

.cookie-interface h2 {
	padding: 20px;
	margin-top: 45px;
	margin-left: 185px;
	font-family: Asap, sans-serif;
	font-size: 20px;
	text-align: center;
}

.cookie-interface h3 {
	padding: 5px;
	margin-top: 85px;
	margin-left: 225px;
	font-family: Asap, sans-serif;
	font-size: 17px;
	text-align: center;
}


body {
	background: lightblue;
}

#cookie-bg {
	position: fixed;
	width: 500px;
	height: 100%;
}

.cookie {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
}

.cookie img {
	position: absolute;
	max-width: 15%;
	margin-top: 300px;
	margin-left: 105px;
}

.cookie img:hover {
	cursor: pointer;
}

.cookie-clicked {
	text-anchor: center;
	width: 270px;
	transition: 70ms ease-in-out;
}

#cookie-sprite {
	transform: rotate(0);  
	transform: scale(1);
	transition: 250ms ease-in-out;
}